<h3>Edit Orders</h3>
<form 
    hx-post="{% url 'edit-order' order.id %}" 
    hx-target="#order-row-{{ order.id }}" 
    hx-swap="outerHTML"
    hx-on::after-request="document.getElementById('edit_orders_modal').close()"
    method="post"
    
>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="modal-action">
        <button type="submit" class="btn btn-primary">Edit Drugs</button>
        <button type="button" onclick="edit_orders_modal.close()" class="btn">Cancel</button>
    </div>
</form>