<table class="max-w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            
            <th scope="col" class="px-6 py-3">
               Customer
            </th>
            <th scope="col" class="px-6 py-3">
                Address
            </th>
            <th scope="col" class="px-6 py-3">
                Phone
            </th>
            <th scope="col" class="px-6 py-3">
               Drug
            </th>
            <th scope="col" class="px-6 py-3">
                Quantity
            </th>
            <th scope="col" class="px-6 py-3">
                Price
            </th>
            <th scope="col" class="px-6 py-3">
               Paid Amount
            </th>
            <th scope="col" class="px-6 py-3">
                Date
            </th>
            <th scope="col" class="px-6 py-3">
                Balance
            </th>
            <th scope="col" class="px-6 py-3">
                Debtor
            </th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
             {% include 'partials/order_row.html' %}  
        {% endfor %}       
    </tbody>
</table>